/* .Meaning section {
	
} */

.Meaning h3 {
	font-size: 22px;
	margin: 10px 0px 25px 35px;

	color: orangered;
	font-style: italic;
}

.Meaning .definitions {
	margin: 0px 30px 10px 65px;

}

.Meaning .examples {
	margin: 10px 30px 0px 100px;

	color: orangered;
}
